section, h1, h2, h3 {
  padding: 1em 32px;
}

.action-buttons {
  margin: 1em 32px;
  text-align: right;
}

// separator
.separator {
  color: #c0c0c0;
  text-align: center;
  margin: 0.8em 0;
  &:before {
    margin: 0 0.8em;
    content: '-';
  }
  &:after {
    margin: 0 0.8em;
    content: '-';
  }
}

.sub-navigation {
  text-align: right;
}

.full-width {
  width: 100%;

  a, button {
    width: 100%;
  }
}

md-input-container {
  width: 100%;

  input, textarea {
    width: 100%;
  }

  textarea {
    line-height: 1.7 !important;
  }
}