//
// color palette
//
$text-color: #505050;
$background-color: #f0f0f0;
$article-background-color: #ffffff;
$grey-color: #808080;
$shallow-grey-color: #c0c0c0;
$main-color: #2973b7;
$red-color: #ED2939;
$orange-color: #df7959;

//
// fonts
//
$default-gothic-font: Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
$default-mincho-font: "Roboto Slab" , Garamond , "Times New Roman" , "游明朝" , "Yu Mincho" , "游明朝体" , "YuMincho" , "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif;
$default-font: $default-gothic-font;
