/* You can add global styles to this file, and also import other style files */

@import 'material-theme';

html, body {
  background: #f0f0f0;
  color: #5a4a50;
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  font-size: 16px;
  height: 100%;
  line-height: 1.7em;
  margin: 0;
  overflow-x: hidden; // 横スクロールは明示的に指定しない限りさせない
  padding: 0;
  position: relative;
  width: 100%;
}

* {
  // スクロールをスムーズに
  -webkit-overflow-scrolling: touch;
}

@import 'layout';
